{% extends "home_page.html" %}

{% block title %} Комерческие интерьеры {% endblock %}

{% block commercial_interiors %}
    <div class="bottom-navigation">
        <p class="title"> КОММЕРЧЕСКИЕ ИНТЕРЬЕРЫ </p>
        <p class="text">дизайн общественных пространств</p>
    </div>

    <div class="architecture-container">
        <div class="image-grid">
            <a href="#">
                <img src="/static/img/img_commercial_interiors/1.jpg" alt="Первое изображение" />
                <p>ДИЗАЙН КОНФЕРЕНЦ-ЗАЛА ОНКОЛОГИЧЕСКОГО ОБЛАСТНОГО ДИСПАНСЕРА В ЮЖНО-САХАЛИНСКЕ</p>
            </a>
            <a href="#">
                <img src="/static/img/img_commercial_interiors/2.jpg" alt="Второе изображение" />
                <p>ДИЗАЙН ИНТЕРЬЕРА АЭРОДИНАМИЧЕСКОГО СПОРТИВНОГО КОМПЛЕКСА В ПЕКИНЕ</p>
            </a>
            <a href="#">
                <img src="/static/img/img_commercial_interiors/3.jpg" alt="Третье изображение" />
                <p>ДИЗАЙН ИНТЕРЬЕРА КАФЕ В ЗДАНИИ АЭРОПОРТА В ПЕКИНЕ</p>
            </a>

        </div>
    </div>
{% endblock %}