{% extends "home_page.html" %}

{% block title %} Благоустройство {% endblock %}

{% block improvement %}
    <div class="bottom-navigation">
        <p class="title">БЛАГОУСТРОЙСТВО</p>
        <p class="text">общественные пространства и ландшафтный дизайн частных территорий</p>
    </div>

    <div class="architecture-container">
        <div class="image-grid">
            <a href="#">
                <img src="/static/img/img_improvement/1.jpg" alt="Первое изображение" />
                <p>ЛАНДШАФТНЫЙ ДИЗАЙН ЧАСТНОГО ДОМА В ЮЖНО-САХАЛИНСКЕ</p>
            </a>
            <a href="#">
                <img src="/static/img/img_improvement/2.jpg" alt="Второе изображение" />
                <p>ПРОЕКТ БЛАГОУСТРОЙСТВА КАФЕ В ЮЖНО-САХАЛИНСКЕ</p>
            </a>
            <a href="#">
                <img src="/static/img/img_improvement/3.jpg" alt="Третье изображение" />
                <p>ЛАНДШАФТНЫЙ ДИЗАЙН ЧАСТНОГО ДОМА В ЮЖНО-САХАЛИНСКЕ</p>
            </a>

        </div>
    </div>
{% endblock %}

