{% extends "contacts.html" %}

{% block title %} {{ title}} {% endblock %}

{% block menu %} {{block.super}} {% endblock %}

{% block content %}
   <div class="contact-info">
        <div class="column">
        <div>ДИЗАЙН ИНТЕРЬЕРА</div>
        <div>разработка уникальных решений внутреннего пространства, в которых объеденены профессиональный опыт и пожелания заказчика</div>
        <br>
        <div>АРХИТЕКТУРНОЕ ПРОЕКТИРОВАНИЕ</div>
        <div>разработка проектной и рабочей документации объектов под ключ</div>
        <div>с сопровождением прохождения государственной и не государственной экспертизы</div>
        <br>
        <div>ЛАНДШАФТНЫЙ ДИЗАЙН</div>
        <div>создание горманичного сочетания природных элементов с архитектурными и</div>
        <div>декоративными элементами для улучшения внешнего вида и функциональности участка</div>
        <br>
        <div>КОМПЛЕКТАЦИЯ ПРОЕКТОВ</div>
        <div>подбор отделочных материалов, инженерного наполнения, техники, мебели, освещения и декоров</div>
        <br>
        <div>СТРОИТЕЛЬСТВО</div>
        <div>строительные и отделочные работы любой сложности под ключ, авторский и технический надзор</div>
        </br>
        </div>
   </div>
{% endblock %}

{% block bottom_title %}
    <div class="title">
        <p >УСЛУГИ</p>
    </div>
{% endblock %}








