{% extends "home_page.html" %}

{% block title %} Ахитектура {% endblock %}

    {% block architecture %}
    <div class="bottom-navigation">
        <p class="title">АХИТЕКТУРА</p>
        <p class="text">общественные здания, индивидуальные и многоквартирные жилые дома</p>
    </div>

    <div class="architecture-container">
        <div class="image-grid">
            <a href="#">
                <img src="/static/img/img_architecture/1.jpg" alt="Первое изображение" />
                <p>ПРОЕКТ ЧАСТНОГО ДОМА В ЮЖНО-САХАЛИНСКЕ</p>
            </a>
            <a href="#">
                <img src="/static/img/img_architecture/2.jpg" alt="Второе изображение" />
                <p>ПРОЕКТ КАФЕ В ЮЖНО-САХАЛИНСКЕ</p>
            </a>
            <a href="#">
                <img src="/static/img/img_architecture/3.jpg" alt="Третье изображение" />
                <p>ПРОЕКТ БАЗЫ ОТДЫХА В ЮЖНО-САХАЛИНСКЕ</p>
            </a>

        </div>
    </div>
    {% endblock %}
