{% extends "home_page.html" %}

{% block title %} Портфолио {% endblock %}

{% block portfolio_navigation %}
<div class="bottom-navigation">
        <p class="title">ПОРТФОЛИО</p>
        <div class="bottom-menu">
            <a href="/portfolio/architecture">АРХИТЕКТУРА</a>
            <a href="/portfolio/improvement">БЛАГОУСТРОЙСТВО</a>
            <a href="/portfolio/commercial_interiors">КОММЕРЧЕСКИЕ ИНТЕРЬЕРЫ</a>
            <a href="/portfolio/residential_interiors">ЖИЛЫЕ ИНТЕРЬЕРЫ</a>
        </div>
</div>
{% endblock %}


