{% extends "home_page.html" %}

{% block title %} Жилые интерьеры {% endblock %}

{% block residential_interiors %}
    <div class="bottom-navigation">
        <p class="title"> ЖИЛЫЕ ИНТЕРЬЕРЫ </p>
        <p class="text">дизайн интерьера квартир и частных домов</p>
    </div>

    <div class="architecture-container">
        <div class="image-grid">
            <a href="#">
                <img src="/static/img/img_residential_interiors/1.jpg" alt="Первое изображение" />
                <p>ДИЗАЙН ГОСТИННОЙ</p>
            </a>
            <a href="#">
                <img src="/static/img/img_residential_interiors/2.jpg" alt="Второе изображение" />
                <p>ДИЗАЙН КУХНИ</p>
            </a>
            <a href="#">
                <img src="/static/img/img_residential_interiors/3.jpg" alt="Третье изображение" />
                <p>ДИЗАЙН ДЕТСКОЙ</p>
            </a>

        </div>
    </div>
{% endblock %}

